/* SignIn.css or SetPassword.css */
.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f6f8fa;
    position: relative; /* Add relative positioning */
  }
  
  .signin-form {
    width: 400px;
    padding: 30px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signin-logo {
    width: 60px;
    height: auto;
  }
  
  .error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .top-right-button {
    position: absolute; /* Add absolute positioning */
    top: 10px;
    right: 10px;
  }