/* styles.css */
body {
  background-color: #121212;
  font-family: "Poppins", sans-serif;
}

.form-container {
  max-width: 350px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  background: linear-gradient(145deg, #1e1e1e, #121212);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: fadeIn 1s ease-in-out;
  max-width: 750px; 
  padding: 60px; 
  
}

.logo {
  width: 80px;
  margin-bottom: 20px;
  animation: bounce 1.5s infinite alternate;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

.github-button {
  transition: all 0.3s ease;
}

.github-button:hover {
  background-color: #fff;
  color: #121212;
}

.text-light {
  color: #ffffff;
}

.text-danger {
  color: #ff4b4b;
}
