body {
  margin: 0;
  font-family: sans-serif;
  background-color: #161b22;
  color: #c9d1d9;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 70vw;
}
.sidebar {
  width: 250px;
  background-color: #0d1117;
  padding: 1.5rem;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  border-right: 1px solid #30363d;
}


.main-content {
  margin-left: 250px;
  padding: 2rem;
  width: calc(100% - 250px);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.page-content {
  flex-grow: 1;
}

.header {
  margin-bottom: 2rem;
}

.header-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}


.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;text-align: cen
}

.card {
  background-color: #0d1117;
  padding: 1.5rem;
  border-radius: 8px;
  border: 2px solid #58a6ff;
  text-align: center;
  box-shadow: 0 0 10px rgba(88, 166, 255, 0.5);
}

.card-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #58a6ff;
}

.card-data {
  font-size: 1.2rem;
  color: #c9d1d9;
}

.languages-list {
  margin: 0;
  padding-left: 0;
  list-style-type: disc;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  align-items: right;
}

.languages-list li {
  margin: 0;
  padding: 2px 0;
  margin-left: 20%;
  display: list-item;
  width: fit-content;
  align-items: right;
}
